@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.cdnfonts.com/css/poppins');

body {
  background-color: #f7f5f5;
  min-width: 375px;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-family: 'poppins', sans-serif;
}

.intro-section {
  min-width: 375px;
  max-width: 718px;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.menu {
  display: none;
}

.logo {
  font-family: 'poppins', sans-serif;
  font-style: bold;
  font-size: 18px;
  line-height: 20px;
  line-height: 74%;
  font-weight: 700;
  color: #6070ff;
  padding: 4px;
  margin-left: 24px;
}

.hambuger {
  display: block;
  margin-right: 36px;
}

.hambuger-bar {
  width: 26px;
  height: 3px;
  background-color: #6070ff;
  margin: 5px;
  display: flex;
}

.first-section {
  min-height: 640px;
  display: flex;
  flex-direction: column;
  padding: 140px 24px;
  background-image: url(header-shapes\ mobile.png);
  background-size: cover;
  background-position: initial;
  border-bottom-left-radius: 100px;
  background-color: #fff;
}

.title {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding: 8px 0;
  max-width: 327px;
  margin-bottom: 4px;
}

.intro {
  font-family: 'poppins', sans-serif;
  font-style: regular;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 8px 0;
  font-weight: 400;
  margin-bottom: 30px;
}

.getintouch {
  font-family: 'Poppins', sans-serif;
  font-style: medium;
  font-size: 20px;
  line-height: 24px;
  color: #7f8cff;
  padding-bottom: 15px;
  font-weight: 600;
  margin: 20px 0;
}

.social-media-icon {
  display: flex;
}

.social-media-icon li {
  list-style-type: none;
}

.social-media {
  padding: 15px;
  color: rgba(80, 95, 121, 1);
  font-weight: 900;
}

.second-section {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: auto;
  min-width: 375px;
}

.second-sec-div1 {
  border: solid;
  border-radius: 16px;
  padding: 24px;
  background-color: #fff;
  margin: 24px;
  border-width: 1px;
  border-color: #e5e5e5;
  justify-content: center;
  align-items: center;
  min-width: 375px;
}

.second-sec-div2 {
  border: solid;
  border-radius: 16px;
  padding: 24px;
  background-color: #fff;
  margin: 24px;
  border-width: 1px;
  border-color: #e5e5e5;
  justify-content: center;
  align-items: center;
  min-width: 375px;
}

.second-sec-div3 {
  border: solid;
  border-radius: 16px;
  padding: 24px;
  background-color: #fff;
  margin: 24px;
  border-width: 1px;
  border-color: #e5e5e5;
  justify-content: center;
  align-items: center;
  min-width: 375px;
}

.second-sec-div4 {
  border: solid;
  border-radius: 16px;
  padding: 24px;
  background-color: #fff;
  margin: 24px;
  border-width: 1px;
  border-color: #e5e5e5;
  justify-content: center;
  align-items: center;
  min-width: 375px;
}

.proj-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #172b4d;
  padding: 4px 0;
}

.proj-title1 {
  display: none;
}

.proj-title2 {
  display: none;
}

.proj-title3 {
  display: none;
}

.proj-title4 {
  display: none;
}

.p-descrip {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 18px 0;
}

.p-descrip2 {
  display: none;
}

.p-descrip3 {
  display: none;
}

.p-descrip4 {
  display: none;
}

.lan {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin: 2px;
}

.proj-lan {
  display: flex;
}

.intro-1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.intro-2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.intro-3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 10px 12px;
  border: 1px solid #6070ff;
  border-radius: 16px;
  background-color: #fff;
}

.btn-div {
  margin: 30px 0;
  display: flex;
}

.btn-divb {
  display: flex;
  margin: 30px 0;
}

.proj-img {
  width: 290px;
  height: 220px;
  margin: 30px 0;
}

.proj-img1 {
  display: none;
}

.proj-img2 {
  display: none;
}

.proj-img3 {
  display: none;
}

.proj-img4 {
  display: none;
}

.proj-intro {
  margin: 18px 0;
  font-size: 18px;
}

.proj-intro1 {
  display: none;
}

.lan-g {
  display: flex;
  margin: 6px 0;
  align-items: center;
  margin-left: 36px;
}

.p-lan {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.chev {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 36px;
  margin-top: 10%;
  margin-bottom: 3%;
  width: 80%;
}

.chev li {
  list-style-type: none;
}

.third-section {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  padding-top: 80px;
}

.section-3 {
  width: 100%;
  background-color: #fff;
  border-top-right-radius: 100px;
  margin-top: 10px;
  padding-bottom: 30%;
  min-width: 375px;
}

.introb {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.line {
  display: flex;
  margin: 0 24px;
  width: 327px;
  color: #dfe1e6;
  height: 1px;
}

.img {
  padding: 6px 0;
  display: flex;
  flex-direction: column;
}

.img-a {
  display: none;
}

.img li {
  list-style-type: none;
}

.fa {
  color: #acb7c3;
  margin-right: 66px;
  float: right;
}

.btn:hover {
  background-color: #396df2;
  color: #fff;
}

.logo:hover {
  background-color: #afc2f3;
  color: #fff;
  padding: 5px 5px;
}

.hambuger:hover {
  color: #396df2;
  background-color: #396df2;
  padding: 0.1%;
}

.proj-lan li {
  list-style-type: none;
}

/* =================================================contact form========================================= */

.contact-section {
  min-width: 375px;
  height: 779px;
  background: #6070ff;
  border-top-left-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  justify-content: center;
}

.contact-content {
  background-image: url(contact\ form\ shapes-mobile9.png);
  background-repeat: no-repeat;
  background-position: right 70%;
  position: relative;
  z-index: 1;
}

.contact-me {
  margin-top: 6.4rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 2px 4px;
}

.about-us {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 12px 24px 0 24px;
  align-items: center;
  display: flex;
  justify-content: center;
}

form {
  margin-top: 2rem;
}

form > div {
  margin-top: 0.5rem;
}

input[type=text],
input[type=mail],
textarea {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  padding: 15px 38px 15px 16px;
  width: 87%;
  border-radius: 10px;
  margin: 8px 24px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

textarea {
  color: #172b4d;
}

input[type=submit] {
  padding: 16px 12px;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin: 4px 24px;
  background: #fff;
}

.btn-submit:hover {
  color: #0e0a0a;
  background: rgb(99, 99, 243);
}

input:focus,
textarea:focus {
  outline: none;
}

/* ======================================contact form ends===================================== */

@media only screen and (min-width: 768px) {
  /* for desktop */
  body {
    max-width: 100%;
  }

  .intro-section {
    max-height: 916px;
  }

  .topnav {
    max-height: 48px;
    min-width: 1440px;
  }

  .first-section {
    background-image: url(Header\ bg@2x.png);
    min-width: 1440px;
    padding: 240px 240px;
    max-height: 871px;
  }

  .intro {
    max-width: 920px;
    font-size: 20px;
  }

  .title {
    font-size: 48px;
    max-width: 920px;
  }

  .second-section {
    min-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .second-sec-div1 {
    margin: 142px;
    border-width: 1px;
    min-width: 1156px;
    flex-direction: column;
    height: 496px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 24px;
    background-color: #fff;
    align-content: center;
  }

  .second-sec-div2 {
    margin: 142px;
    border-width: 1px;
    min-width: 1156px;
    flex-direction: column;
    height: 496px;
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
    padding: 24px;
    background-color: #fff;
    align-content: center;
  }

  .second-sec-div3 {
    margin: 142px;
    border-width: 1px;
    min-width: 1156px;
    flex-direction: column;
    height: 496px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 24px;
    background-color: #fff;
    align-content: center;
  }

  .second-sec-div4 {
    margin: 142px;
    border-width: 1px;
    min-width: 1156px;
    flex-direction: column;
    height: 496px;
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
    padding: 24px;
    background-color: #fff;
    align-content: center;
  }

  .proj-title {
    display: none;
  }

  .proj-title1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #172b4d;
    padding: 4px 0;
    display: inline;
  }

  .proj-title2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #172b4d;
    padding: 4px 0;
    display: inline;
  }

  .proj-title4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #172b4d;
    padding: 4px 0;
    display: inline;
  }

  .proj-title3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #172b4d;
    padding: 4px 0;
    display: inline;
  }

  .proj-img {
    display: none;
  }

  .proj-img1 {
    width: 544px;
    height: 448px;
    padding: 24px;
    display: inline;
  }

  .proj-img2 {
    width: 544px;
    height: 448px;
    padding: 24px;
    display: inline;
  }

  .proj-img3 {
    width: 544px;
    height: 448px;
    padding: 24px;
    display: inline;
  }

  .proj-img4 {
    width: 544px;
    height: 448px;
    padding: 24px;
    display: inline;
  }

  .B {
    width: 544px;
    height: 448px;
    padding: 48px;
    margin: 30px;
    display: grid;
    column-gap: 2.5em;
    grid-template-rows: 1fr 1fr;
  }

  .contact-content {
    background-image: url(contact\ form\ background\ shapes\ desktop.png);
    background-position: center;
    justify-content: center;
    align-items: center;
  }

  .about-us {
    margin: 12px 436px 0 435px;
  }

  input[type=submit] {
    margin: 4px 649px;
  }

  input[type=text],
  input[type=mail],
  textarea {
    margin: 12px 497px;
    width: 447px;
  }

  .section-3 {
    min-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    grid-column-start: auto;
    height: 668px;
  }

  .third-section {
    min-width: 447px;
    margin: 166px 36px 130px 143px;
    margin-top: 76px;
  }

  .third-section2 {
    margin: 142px 142px 142px 0;
    margin-left: 0;
    min-width: 684px;
  }

  .line {
    width: 684px;
    margin: 36px 0;
    margin-right: 142px;
  }

  .chev {
    justify-content: space-between;
    margin: 36px;
    font-size: 20px;
  }

  .img-a {
    display: flex;
    flex-direction: row;
  }

  .img-a li {
    list-style-type: none;
  }

  .img {
    visibility: hidden;
    display: none;
  }

  .p-descrip {
    visibility: hidden;
    display: none;
  }

  .proj-intro {
    display: none;
  }

  .proj-intro1 {
    display: inline;
    margin: 10px 0;
    font-size: 18px;
  }

  .p-descrip2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 18px 0;
    display: inline;
  }

  .p-descrip3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 18px 0;
    display: inline;
  }

  .p-descrip4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 18px 0;
    display: inline;
  }

  .hambuger-bar {
    display: none;
  }

  .menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 25px;
    float: left;
    gap: 32px;
    margin-right: 152px;
    padding: 26px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .contact-section {
    min-width: 1440px;
    max-height: 846px;
  }

  .fa {
    margin-right: 0;
    float: right;
  }
}
