@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.cdnfonts.com/css/poppins');

.container {
  min-width: 375px;
  max-height: 718px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-family: inter, sans-serif;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  margin: 0 30px;
}

.logo {
  font-family: 'poppins', sans-serif;
  font-style: bold;
  font-size: 18px;
  line-height: 20px;
  line-height: 74%;
  font-weight: 700;
  color: #6070ff;
  padding-left: 25px;
}

.hambuger {
  display: block;
}

.hambuger-bar {
  width: 26px;
  height: 3px;
  background-color: #6070ff;
  margin: 5px;
}

.first-section {
  display: flex;
  flex-direction: column;
  padding: 125px 24px;
  border-bottom-left-radius: 15%;
  background-image: url(header-shapes\ mobile.png);
  background-color: white;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding: 8px 0;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.intro {
  font-family: 'poppins', sans-serif;
  font-style: regular;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  min-width: 327px;
  padding-bottom: 8px;
  font-weight: 400;
}

.getintouch {
  font-family: 'Poppins', sans-serif;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-bottom: 8px;
  font-weight: 600;
}

.social-media-icon {
  display: flex;
}

.social-media-icon li {
  list-style-type: none;
}

.social-media {
  padding: 10px;
  color: rgba(80, 95, 121, 1);
  font-weight: 900;
}

.second-section {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: auto;
}

.proj-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 4px 0;
}

.p-descrip {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 18px 0;
}

.lan {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin: 2px;
}

.proj-lan {
  display: flex;
}

.section-2 {
  /* background-color: #e5e5e5; */
  padding-bottom: 100px;
  display: grid;
}

.intro-1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.intro-2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.intro-3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 10px 12px;
  border: 1px solid #6070ff;
  border-radius: 16px;
  background-color: #fff;
}

.btn-div {
  margin: 30px 0;
  display: flex;
}

.btn-divb {
  margin: 24px;
  display: flex;
  margin-top: 10px;
}

.second-sec-div {
  border: solid;
  border-radius: 16px;
  padding: 0 24px;
  background-color: #fff;
  margin: 36px;
  border-width: 1px;
  border-color: #e5e5e5;
}

.section {
  background-color: #e5e5e5;
}

.proj-img {
  width: 290px;
  height: 220px;
  margin: 30px 0;
}

.proj-intro {
  margin: 20px 0;
}

.lan-g {
  display: flex;
  margin: 6px 0;
  align-items: center;
  margin-left: 36px;
}

.p-lan {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.middle-sec {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.chev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 36px;
  margin-top: 10%;
  margin-bottom: 3%;
  width: 327px;
}

.chev li {
  list-style-type: none;
}

.third-section {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  padding-top: 80px;
}

.sec-3 {
  background-color: #e5e5e5;
}

.section3-div {
  background-color: #fff;
  border-top-right-radius: 15%;
  margin-top: 10px;
  padding-bottom: 30%;
}

.line {
  /* display: flex; */
  margin: 0 24px;
  width: 327px;
  color: #dfe1e6;
  height: 1px;
  float: left;
}

.img {
  padding: 6px 0;
  display: grid;
}

.img li {
  list-style-type: none;
}

.fa {
  color: #acb7c3;
  margin-right: 66px;
  float: right;
}

.btn:hover {
  background-color: #396df2;
  color: #fff;
}

.logo:hover {
  background-color: #afc2f3;
  color: #fff;
  padding: 5px 5px;
}

.hambuger:hover {
  color: #396df2;
  background-color: #396df2;
  padding: 0.1%;
}

.proj-lan li {
  list-style-type: none;
}
/* contact section */
.contact-me-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 6em 0 0 0;
  padding: 3em;
  border-radius: 5em 0 0 0;
  background-color: #6070ff;
  background-image: url(./assets/contact\ form\ shapes-mobile.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.contact-me-form-heading {
  text-align: center;
  margin-top: 0.75em;
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 52px;
}

.contact-me-form-paragraph {
  text-align: center;
  margin-top: 0.75em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  margin-top: 0.75em;
}

.contact-me-form > input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid #f7f7f9;
  box-shadow: 0 0 2px #f7f7f9;
}

.contact-me-form-text-input {
  margin-top: 0.75em;
  padding: 0.75em;
  width: 100%;
  border: 1px solid #cfd8dc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
}

.contact-me-form-button {
  align-self: flex-start;
}
